.HourlyWeather {
    display: flex;
    flex-flow: row || nowrap;
}

.HourlyWeatherList {
    display: flex;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    background-color: #381677;
}

.HourlyWeatherList li {
    display: inline;
}