
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: #200552;
    color: #ffffff;
}

.DayWeatherContainer {
    display: flex;

}